Recognition/clip_pretrain
__pycache__
Recognition/exp_onehot/*
Recognition/exp/*
Recognition/wandb
Recognition/mae_pretrain
Recognition/dino_pretrain
Recognition/imgs/*
Recognition/*.ipynb
Recognition/*.png
Retrieval/ckpts
Retrieval/clip_pretrain
*.png
imgs/*
.vscode
